.tag {
  margin-bottom: 10px;
}

.tag {
  display: inline-block;
  font-size: 10px;
  padding: 4px 10px;
  margin-right: 6px;

  border-radius: 6px;

  background: #2a2a2a;
  color: #ccc;
  text-decoration: none;
}

.tag:hover {
  background: #00ff88;
  color: #00ff88;
}
