.home-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.home-hero img {
  max-width: 200px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.home-hero p {
  text-align: center;
  font-size: 1.8rem;
  color: var(--secondary);
}

.typing{
  text-align: center;
  font-size: 1.2rem;
}

#typing-text::after {
  content: "|";
  margin-left: 4px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.social-icons {
  display: flex;
  justify-content: center; /* centraliza horizontal */
  align-items: center;
  gap: 0px; /* espaço entre ícones */
  margin-top: 20px;
}

