{{ define "main" }}

<div class="home-hero">
  <img src="/images/profile.png" alt="My profile picture">

  <p class="typing">
    <span id="typing-text"></span>
  </p>
</div>
<div class="description">
  <h3>Cybersecurity Student<h3>
</div>
<div class="social-icons">
  <a href="https://github.com/gabsteps" target="_blank">
    {{ partial "svg.html" (dict "name" "github") }}
  </a>

  <a href="https://linkedin.com/in/gabriel-silva-passos-ab7779ab/" target="_blank">
    {{ partial "svg.html" (dict "name" "linkedin") }}
  </a>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const text = "Cybersecurity | Networking | Automation";
  const speed = 95;
  const element = document.getElementById("typing-text");
  let i = 0;

  function typeWriter() {
    if (i < text.length) {
      element.textContent += text.charAt(i);
      i++;
      setTimeout(typeWriter, speed);
    }
  }

  typeWriter();
});
</script>

{{ end }}
